<!-- prettier-ignore -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Report</title>
		<%- include("../partials/css") %>
		<style>
			table,
			td {
				border: 1px solid;
				border-collapse: collapse;
			}

			td {
				padding: 0.5rem;
				text-align: center;
			}

			thead td {
				font-weight: bold;
			}

			.stats {
				width: 100%;
				margin: 2rem 0;
			}
		</style>
	</head>
	<body>
		<div class="watermark">
			<img
				id="watermark"
				src="<%= user.createdBy.watermarkImg %>"
				alt="watermark"
				height="256"
			/>
		</div>
		<div class="header">
			<img
				class="logo"
				src="<%= user.createdBy.logoImg %>"
				alt="Logo"
				height="96"
			/>
			<div align="center">
				<h1><u><%= user.createdBy.className %></u></h1>
				<h3>Test wise report for <%= user.firstName+" "+user.lastName %></h3>
			</div>
			<div class="metadata">
				<div>Student name: <b><%= user.firstName+" "+user.lastName %></b></div>
				<div>Class: <b><%= user.standard %></b></div>
			</div>
		</div>

		<hr />
		<div>
			<h1>Total tests given</h1>
			<table class="stats">
				<thead>
					<tr>
						<td>Manual</td>
						<td>Random</td>
						<td>Mock</td>
						<td>PYQ</td>
						<td>Total</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= entries.filter(e => e.type === "manual").length %></td>
						<td><%= entries.filter(e => e.type === "random").length %></td>
						<td><%= entries.filter(e => e.type === "mock").length %></td>
						<td><%= entries.filter(e => e.type === "pyq").length %></td>
						<td><b><%= entries.length %></b></td>
					</tr>
				</tbody>
			</table>

			<h1>Test wise results</h1>
			<table class="stats">
				<thead>
					<tr>
						<td>Sr No</td>
						<td>Test Name</td>
						<td>Date</td>
						<td>Subjects</td>
						<td>Percentage</td>
					</tr>
				</thead>

				<tbody>
					<% entries.forEach((entry, index) => { %>
					<tr>
						<td><%= index+1 %></td>
						<td><%= entry.name %></td>
						<td><%= dayjs(entry.createdAt).format("DD/MM/YYYY") %></td>
						<td>
							<% if (entry.subjects.includes('physics') &&
							entry.subjects.includes('chemistry') &&
							entry.subjects.includes('mathematics') &&
							entry.subjects.includes('biology')) { %> PCMB <% } else if
							(entry.subjects.includes('physics') &&
							entry.subjects.includes('chemistry') &&
							entry.subjects.includes('biology')) { %> PCB <% } else if
							(entry.subjects.includes('physics') &&
							entry.subjects.includes('chemistry') &&
							entry.subjects.includes('mathematics')) { %> PCM <% } else { %> <%
							entry.subjects.forEach(subject => { %> <%= subject.toUpperCase()
							%> <% }) %> <% } %>
						</td>
						<td>
							<%= entry.percentage ? entry.percentage.toFixed(2)+"%" : "-" %>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>

		<hr />
	</body>
</html>
