<!-- prettier-ignore -->
<%_
    const groupedQuestions = {
        physics: test.questions.filter(q => q.subject === "physics"),
        chemistry: test.questions.filter(q => q.subject === "chemistry"),
        mathematics: test.questions.filter(q => q.subject === "mathematics"),
        biology: test.questions.filter(q => q.subject === "biology"),
    };

    const marks = test.questions.reduce((acc, curr) => acc + curr.marks, 0);
_%>

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quiz Paper</title>
		<%- include("../partials/mathjax") %> <%-
		include("../partials/singlecolumnpaper") %>
	</head>
	<body>
		<div class="watermark">
			<img
				id="watermark"
				src="<%= test.creator.watermarkImg %>"
				alt="watermark"
				height="256"
			/>
		</div>
		<div class="header">
			<img
				class="logo"
				src="<%= test.creator.logoImg %>"
				alt="Logo"
				height="96"
			/>
			<div align="center">
				<h1><u><%= test.creator.className %></u></h1>
				<p>Exam name: <span><%= test.name %></span></p>
			</div>
			<div class="metadata">
				<div><b>Date: </b><span><%= date %></span></div>
				<div><b>Duration: </b><span><%= duration %> minutes</span></div>
				<div><b>Marks: </b><span><%= marks %></span></div>
			</div>
		</div>

		<hr />
		<div>
			<ol class="questions">
				<% Object.entries(groupedQuestions).forEach(function ([subject,
				questions]) { %> <% if(questions.length) { %>
				<p style="color: gray; text-align: center">
					<%= subject.toUpperCase() %>
				</p>
				<% questions.forEach(function(question){ %>
				<li class="question">
					<div><%- question.question %></div>
					<ol class="options" type="a">
						<% question.options.forEach(function (option){ %>
						<li><%- option %></li>
						<%})%>
					</ol>
					<br />
					<p>Answer: <b><%= String.fromCharCode(64+question.answer) %></b></p>
					<p>Explanation:</p>
					<div class="explanation"><%- question.explanation %></div>
				</li>
				<%}) %>
				<hr />
				<% } %> <%}) %>
			</ol>
		</div>

	</body>
</html>
